.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #652222;
    border-radius: 5px;
    
  }
  
  .registration-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .reg-btn {
    width: 100%;
    padding: 10px;
    background-color: #462d3e;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
  }
  
  .reg-btn:hover {
    background-color: #9cbcde;
    color:black;
  }
  